.button {
    border: none;
    color: #9c9d9c;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}
          
.button-alice {
    background-color: #313338; color:#ffffff;
    border-radius: 18px;
} 

.button-alice:hover {
    background-color: #7289da;
    transition: background-color ease-in 0.5s;
}

span {
    background: radial-gradient(
      circle at 100%,
      #db2833,#bc445c,#db2833,#bc445c,#db2833,#bc445c,#db2833,#bc445c,#db2833,#bc445c,#db2833,#bc445c,#db2833,#bc445c,#565454,#656163,#757474,#746c6f,#7b7b7c,#bcb4b4,#9c9c9c,#ffffff,#9c9c9c,#bcb4b4,#7b7b7c,#746c6f,#757474,#656163,#565454,#bc445c,#db2833);
    font-weight: 600;
    background-size: 200% auto;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animatedTextGradient 5s linear infinite;
  }
  
@keyframes animatedTextGradient {
    to {
      background-position: 200% center;
    }
}

.textarea{
    border:transparent;
    display: inline-block;
}

.font-color{
    color: #ffffff;
    font-family:courier;
}

.textarea-alice{
    background-color: #313338;
    width: 350px;
    display: inline-block;
    border-radius: 18px;
}

.textarea-alice:hover {
    background-color: #7289da;
    transition: background-color ease-in 0.5s;
}

.gradient-background {
    background-repeat: no-repeat; 
    overflow-x: hidden;
    background-size: cover;
    background-attachment: fixed;
    clear: both; 
    background: linear-gradient(76deg,#000000,#000000,#414360,#000000,#6591b9,#000000,#44464c,#000000,#7fbcdc,#000000,#676e9b,#000000,#000000);
    background-size: 2460% 2460%;
    animation: gradient-animation 320s ease infinite;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.footer {
    color: #4b474a;
    height:10vh;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.inner_footer{
    display: block;
    margin: 0 auto;
    text-align: center;
}

.nav-item{
    font-size:75%;
    overflow-x: hidden;
}
    
.nav {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    padding-left:0;
    margin-bottom:0;
    list-style:none
}
    
.nav-link {
    display:block;
    padding-left:0.5rem !important;
    padding:0.5rem 0.9rem
}
    
.nav-font {
    font-family:courier;  
}
    
.nav-fontsmall {
    font-family:courier;
    font-size:50%;
}

.justify-content-center {
    padding-top:1rem !important;
    margin-bottom:1.5rem !important;
    padding-bottom:1rem !important;
    -webkit-box-pack:center !important;
    -ms-flex-pack:center !important;
    justify-content:center !important  
}

.footer-button {
    background-color: Transparent;
    border: none;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
}

.hidden-left {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}


.hidden-right {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1s;
}

.hidden-fade {
    opacity: 0;
    filter: blur(5px);
    animation: fadeIn 5s;
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion){
    .hidden-left {
        transition: none;
    };
    .hidden-right {
        transition: none;
    };
    .hidden-fade {
        transition: none;
    };
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  