
.background-grad {
background-repeat: no-repeat; 
overflow-x: hidden;
background-size: cover;
background-attachment: fixed;
clear: both; 
background: linear-gradient(116deg,#161012,#2a1418,#2a1418,#37161b,#3e181d,#45191f,#4c1a21,#521b23,#591c25,#601e27,#661f28,#6d202a,#74212c,#7a232e,#812430,#881f2d,#b72639,#b93245,#ad3546,#981f31,#981529,#7b0f1f,#771424,#6d1929,#812430,#7a232e,#74212c,#6d202a,#661f28,#601e27,#591c25,#521b23,#4c1a21,#45191f,#3e181d,#37161b,#31151a,#2a1418,#231316,#1d1114,#161012);
background-size: 2460% 2460%;
animation: gradient-animation 328s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.button {
    border: none;
    color: #9c9d9c;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 69420px;
}

.buttonsmall {
    border: none;
    color: #9c9d9c;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 69420px;
  }

.footer {
    color: #4b474a;
    height:10vh;
}

.inner_footer{
    display: block;
    margin: 0 auto;
    text-align: center;
}

.textarea{
    width:50%;
    overflow:hidden;
    height:50vh;
    max-height:50vh;
    border:5px solid #ccc;
    overflow-y: auto;
    position: relative;
     bottom: 3vh;
     left: 8vw;
     width: 85%;
  }

.nav-item{
color:#9c9d9c;
font-size:75%;
overflow-x: hidden;
}

.nav {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    padding-left:0;
    margin-bottom:0;
    list-style:none
}

.nav-link {
    display:block;
    padding-left:0.5rem !important;
    padding:0.5rem 0.9rem
  }

.nav-font {
    color:#9c9d9c !important;
    font-family:courier;
  
}

.nav-fontsmall {
    color:#9c9d9c !important;
    font-family:courier;
    font-size:50%;
}

.justify-content-center {
    padding-top:1rem !important;
    margin-bottom:1.5rem !important;
    padding-bottom:1rem !important;
    -webkit-box-pack:center !important;
    -ms-flex-pack:center !important;
    justify-content:center !important  
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.textarea-example-images{
    width:28vw;
    overflow:hidden;
    height: 90vh;
    max-width: 550px;
    max-height: 838px;
    background-color: #313338;
    border:5px solid #313338;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
     top: 3vh;
     left: 2vw;
     border-radius: 50px;
  }

.textarea-example-llm{
    width:28vw;
    overflow:hidden;
    height: 90vh;
    max-width: 550px;
    max-height: 838px;
    background-color: #313338;
    border:5px solid #313338;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
     top: 3vh;
     right: 2vw;
     border-radius: 50px;
  }

.notice {
    display: none;
    visibility: hidden;
  }
  
@media screen and (max-width:800px), screen and (max-height:650px) {
    .wrapper { display: none !important; }
    .notice  {visibility: visible; }
}

@media screen and (max-width:1600px), screen and (max-height:750px) {
    .examples { display: none!important; }
}

.home-button {background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;}
.footer-button {background-color: Transparent;border: none;}
.button-discord {background-color: #424549;} 
.button-discord:hover {background-color: #7289da;color: #424549;}
.centering {text-align:center;overflow-x: hidden;}
.big-bold-font {color:#9c9d9c;font-family:courier;font-size:300%;}
.small-bold-font {color:#9c9d9c;font-family:courier;font-size:150%;}